<h1>ユーザー情報</h1>

<p>メールアドレス：<%= current_user.email %></p>
<p><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }  %></p>
<p><%= link_to '登録解除', unsubscribe_path, data: { turbo_method: :delete,  turbo_confirm: '本当に登録解除しますか？' } %></p>